<nav class="navbar navbar-expand-lg navbar-light custom-nav">
  <ul class="navbar-nav">
    <li class="nav-item custom-nav-item">
      <a class="nav-link custom-nav-link" href="/admin/pessoas">
        <i class="bi bi-cart-plus-fill bi-md icon-spacing"></i>Pessoas
      </a>
    </li>
    <li class="nav-item custom-nav-item">
      <a class="nav-link custom-nav-link" href="/admin/carros">
        <i class="bi bi-basket2-fill bi-md icon-spacing"></i>carros
      </a>
    </li>
    <li class="nav-item custom-nav-item">
      <a class="nav-link custom-nav-link" href="/admin/livros">
        <i class="bi bi-person-arms-up bi-md icon-spacing"></i> Livros
      </a>
    </li>
  </ul>
</nav>
