<div class="d-flex justify-content-center mt-5">
<input routerLink="/admin/pessoas/novo" type="button" class="btn btn-primary" value="Add pessoa" />
<br>
</div>

<div class="d-flex justify-content-center mt-3">
<table border="1px">
    <tr class="headcolor">
        <th>Nome:</th>
        <th>Ano: </th>
    </tr>
    <tr *ngFor="let pessoa of lista">

        <td *ngIf="pessoa.idade > 30">{{pessoa.nome}}</td>
        <td *ngIf="pessoa.idade > 30">{{pessoa.idade}}</td>
       
    </tr>
</table>
</div>