<div class="d-flex justify-content-center mt-5">
<br>
<input routerLink="/admin/livros/novo" type="button" class="btn btn-primary" value="Add livro"/>
<br>
</div>
<h3 class="alert alert-secondary text-center" style="color: rgb(0, 0, 0);">Sabores</h3>
    <button type="button" class="btn btn-success mb-3" (click)="adicionar(modal1)">
        <i class="fa fa-plus"></i> Adicionar sabor
    </button>
<div class="d-flex justify-content-center mt-3">
<table border="1px">
    <tr class="headcolor">
        <th>Nome:</th>
        <th>Ano: </th>
    </tr>
    <tr *ngFor="let livro of lista">

        <td>{{livro.titulo}}</td>
        <td>{{livro.autor}}</td>
       
    </tr>
</table>
</div>

<ng-template #modal1 let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <app-livrosdetails [livro]="objetoSelecionadoParaEdicao" (retorno)="addOuEditarLivro($event)" ></app-livrosdetails>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>