<div>
    <h2>Detalhes da livro</h2>
    <form>
      <div class="form-group">
        <label for="titulo">titulo:</label>
        <input type="text" id="autor" class="form-control" [(ngModel)]="livro.titulo">
      </div>
      
      <div class="form-group">
        <label for="autor">autor:</label>
        <input type="text" id="autor" class="form-control" [(ngModel)]="livro.autor">
      </div>
      <button class="btn btn-primary" (click)="salvarLivro()">Salvar</button>
    </form>
  </div>